.detail .content {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}
.detail .content .left {
  width: 400px;
  height: 400px;
  float: left;
  border: 1px solid #dddddd;
  margin-top: 20px;
}
.detail .content .left img {
  width: 360px;
  height: 360px;
  margin: auto;
}
.detail .content .right {
  width: 570px;
  height: 540px;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
}
.detail .content .right .title {
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
.detail .content .right .detail {
  font-size: 13px;
  display: inline-block;
  margin-top: 20px;
}
.detail .content .right .price b {
  color: #ff4040;
  font-size: 18px;
}
.detail .content .right .sk-status {
  height: 50px;
  width: 540px;
}
.detail .content .right .sk-status .skStatusText {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #DE3163;
  text-align: center;
  border-radius: 3px;
  margin-top: 10px;
  float: left;
  font-size: 14px;
}
.detail .content .right .sk-status .skDate {
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #DE3163;
  color: white;
  text-align: center;
  border-radius: 3px;
  margin-top: 10px;
  float: left;
  margin-left: 20px;
  font-size: 16px;
}
.detail .content .right .buy {
  width: 400px;
  height: 37px;
  margin-top: 10px;
}
.detail .content .right .buy .input-border {
  width: 30px;
  height: 28px;
  border: 1px solid #D7D7D7;
  float: left;
  border-radius: 3px;
  text-align: center;
  line-height: 28px;
}
.detail .content .right .buy .add-reduce {
  width: 16px;
  height: 28px;
  margin-left: 3px ;
  float: left;
}
.detail .content .right .buy .add-reduce span {
  width: 16px;
  height: 14px;
  border: 1px solid #D7D7D7;
  text-align: center;
  cursor: pointer;
}
.detail .content .right .buy .add-reduce span:hover {
  color: #FF3C3C;
}
.detail .content .right .buy .add-cart {
  width: 92px;
  height: 28px;
  margin-left: 10px;
  background-color: #FF4040;
  color: #FCFCFC;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  line-height: 28px;
  float: left;
}
