.members-page .left {
  width: 260px;
  min-height: 600px;
  background: #223958;
}
.members-page .left .title {
  width: 260px;
  text-align: center;
  padding-top: 48px;
}
.members-page .left .title .profile {
  width: 78px;
  height: 78px;
  border-radius: 39px;
  background-color: #FFF;
  background-image: url("../../images/Logo_Pic@1x.svg");
  border: none;
  margin: 0 auto;
  margin-bottom: 30px;
}
.members-page .left .title span {
  font-family: 微软雅黑;
  color: #FFF;
  font-size: 15px;
}
.members-page .left .title .website-name {
  margin-bottom: 15px;
  font-family: 微软雅黑;
  color: #FFF;
  font-size: 19px;
}
.members-page .left .title img {
  width: 11px;
  margin-top: 5px;
  margin-left: 5px;
}
.members-page .left #line {
  width: 82%;
  height: 1px;
  background-color: #eeeeee;
  margin: 0 auto;
  margin-top: 44px;
  opacity: 0.2;
}
.members-page .left .nav {
  margin-top: 50px;
  font-family: 微软雅黑;
  color: #a7b0bc;
}
.members-page .left .nav div {
  width: 260px;
  height: 50px;
}
.members-page .left .nav img {
  width: 18px;
}
.members-page .left .nav div:hover {
  cursor: pointer;
}
.members-page .left .nav .nav-container {
  display: inline;
}
.members-page .left .nav .nav-level-1 img:first-child {
  position: relative;
  top: 14px;
  left: 30px;
}
.members-page .left .nav .nav-level-1 span {
  position: relative;
  top: 11px;
  left: 33px;
}
.members-page .left .nav .nav-level-1 img:last-child {
  position: relative;
  top: 10px;
  left: -10px;
  float: right;
}
.members-page .left .nav .nav-level-2 {
  display: none;
}
.members-page .left .nav .nav-level-2-show {
  display: block;
}
.members-page .left .nav .nav-level-2 img {
  position: relative;
  top: 14px;
  left: 60px;
}
.members-page .left .nav .nav-level-2 span {
  position: relative;
  top: 11px;
  left: 63px;
}
.members-page .left .nav .selected {
  background-color: #4A708B;
  color: #223958;
}
.members-page .left .nav .un-selected {
  color: #4A708B;
  background-color: #223958;
}
.members-page .paging-btn-bg-color {
  background-color: #368CCA;
}
.members-page .disable-hover {
  pointer-events: none;
}
.members-page .right {
  min-width: 1110px;
  padding: 24px;
  position: absolute;
  left: 260px;
  top: 0px;
}
.members-page .right .header {
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
}
.members-page .right .searchs,
.members-page .right .searchs div {
  display: inline;
}
.members-page .right .searchs #select-by-name,
.members-page .right .searchs div #select-by-name {
  width: 260px;
  height: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  padding-left: 13px;
  color: #aaaaaa;
}
.members-page .right .searchs #input-pic,
.members-page .right .searchs div #input-pic {
  width: 20px;
  position: relative;
  left: -33px;
  top: 5px;
  cursor: pointer;
}
.members-page .right .searchs .select-1,
.members-page .right .searchs div .select-1 {
  width: 190px;
  height: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  padding-left: 13px;
  color: #aaaaaa;
}
.members-page .right .searchs .input-pic1,
.members-page .right .searchs div .input-pic1 {
  width: 14px;
  position: relative;
  left: -26px;
  top: 2px;
  cursor: pointer;
}
.members-page .right .searchs .right-font {
  font-size: 14px;
  color: #2255aa;
}
.members-page .right .select-all {
  margin-top: 30px;
  color: #000;
}
.members-page .right .select-all div {
  display: inline;
}
.members-page .right .select-all input {
  margin-left: 12px;
  position: relative;
  top: 1px;
}
.members-page .right .select-all button {
  width: 140px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #aaaaaa;
  margin-left: 16px;
  cursor: pointer;
}
.members-page .right .select-all button .button-pic {
  width: 12px;
  margin-left: 7px;
}
.members-page .right .select-all button .button-pic0 {
  width: 12px;
  margin-right: 7px;
}
.members-page .right .table {
  margin-top: 40px;
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-top: none;
}
.members-page .right .table .table-row {
  color: #223958;
  padding: 6px 12px;
  height: 28px;
  border-top: 1px solid rgba(200, 200, 200, 0.8);
}
.members-page .right .table .table-row div {
  height: 28px;
  float: left;
}
.members-page .right .table .table-row .check-box-width {
  width: 30px;
}
.members-page .right .table .table-row .t-id {
  width: 60px;
}
.members-page .right .table .table-row .t-cname {
  width: 100px;
}
.members-page .right .table .table-row .t-ename {
  width: 100px;
}
.members-page .right .table .table-row .t-sex {
  width: 75px;
}
.members-page .right .table .table-row .t-mail {
  width: 270px;
}
.members-page .right .table .table-row .t-gh {
  width: 150px;
}
.members-page .right .table .table-row .t-group {
  width: 150px;
}
.members-page .right .table .table-row .t-birth {
  width: 90px;
}
.members-page .right .table .table-row .t-more {
  width: 50px;
  color: #1696d7;
}
.members-page .right .table .table-row .t-more a:hover,
.members-page .right .table .table-row .t-more a:active,
.members-page .right .table .table-row .t-more a:visited {
  color: #1696d7;
}
.members-page .right .table .table-row-bg-color {
  background-color: #E6EAED;
}
.members-page .right .pagination {
  margin-top: 40px;
  float: left;
}
.members-page .right .pagination button {
  border: none;
  cursor: pointer;
}
.members-page .right .pagination button:hover {
  background-color: #49b9f9;
  border: 1px solid #1696d7;
}
.members-page .right .pagination .first-page,
.members-page .right .pagination .last-page {
  width: 80px;
  height: 40px;
}
.members-page .right .pagination .pre-page,
.members-page .right .pagination .next-page {
  width: 70px;
  height: 40px;
}
.members-page .right .pagination .nth-page {
  width: 40px;
  height: 40px;
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.members-page .right .pagination .hidden-sth {
  display: none;
}
